.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(230, 230, 230, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 20px;
  width: 22vw;
  height: 24vh;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.graphic-bar {
  display: flex;
  flex-direction: row;

  border: 0.5px solid #a1a1a1;
  width: 100%;
  height: 15px;
  border-radius: 20px;
  overflow: hidden;
}

.income {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 2px;
  color: #33c759;
}

.outcome {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 2px;
  color: #ff4b55;
}

.income-bar {
  background-color: #33c759;
  height: 100%;
}

.outcome-bar {
  background-color: #ff4b55;
  height: 100%px;
}
