<div class="p-grid nested-grid">
  <div class="p-col-4" *ngIf="DialButton.displayInfos">
    <div class="p-grid">
      <div class="p-col-12">
        <p-panel header="Calendário" class="box box-stretched" [toggleable]="true"
          ><app-calendar></app-calendar
        ></p-panel>
      </div>

      <div class="p-col-12">
        <p-panel header="Investimentos" class="box box-stretched"></p-panel>
      </div>
    </div>
  </div>
  <div class="{{ DialButton.columDashboardMain }}">
    <div class="p-grid">
      <div class="p-col-12">
        <p-panel header="Carteiras" styleClass="dark-panel">
          <app-carousel-wallets></app-carousel-wallets>
        </p-panel>
      </div>
      <div class="p-col-12">
        <p-panel header="Transações" class="box box-stretched">
          <div class="p-grid">
            <div class="p-col-12">
              <app-transactions [transactions]="transactionsDashboard"></app-transactions>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>

  <div class="p-col-4" *ngIf="DialButton.displayTransaction">
    <p-panel header="Transação">
      <app-create-transaction></app-create-transaction>
    </p-panel>
  </div>
  <app-speed-dial-button #DialButton></app-speed-dial-button>
</div>
