<div class="p-grid nested-grid">
  <!-- <div class="p-col-4" *ngIf="displayInfos">
    <div class="p-grid">
      <div class="p-col-12">
        <p-panel header="Calendário" class="box box-stretched" [toggleable]="true"
          ><app-calendar></app-calendar
        ></p-panel>
      </div>

      <div class="p-col-12">
        <p-panel header="Investimentos" class="box box-stretched"></p-panel>
      </div>
    </div>
  </div> -->
  <div class="{{ DialButton.columDashboardMain }}">
    <div class="p-col-12">
      <p-panel header="Carteiras" styleClass="dark-panel">
        <app-carousel-wallets></app-carousel-wallets>
      </p-panel>
    </div>
    <div class="p-col-12">
      <p-panel header="Transações" class="box box-stretched">
        <div class="p-grid">
          <div class="p-col-12">
            <app-transactions [transactions]="transactionsDashboard"></app-transactions>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="p-col-4" *ngIf="displayTransaction">
    <div class="p-col-12">
      <p-panel header="Nova Transação">
        <ng-template pTemplate="icons">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger"
            (click)="closeTransaction()"
          ></button>
        </ng-template>
        <app-create-transaction></app-create-transaction>
      </p-panel>
    </div>
  </div>

  <div class="p-col-4" *ngIf="displayWallet">
    <div class="p-col-12">
      <p-panel header="Nova Carteira">
        <ng-template pTemplate="icons">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger"
            (click)="closeWallet()"
          ></button>
        </ng-template>
        <app-create-wallets></app-create-wallets>
      </p-panel>
    </div>
  </div>

  <app-speed-dial-button
    #DialButton
    (displayInfos)="onDisplayInfos($event)"
    (displayWallet)="onDisplayWallet($event)"
    (displayTransaction)="onDisplayTransaction($event)"
  ></app-speed-dial-button>
</div>
