<div class="p-grid nested-grid">
  <div class="p-col-4">
    <div class="p-grid">
      <div class="p-col-12">
        <p-panel header="Calendário" class="box box-stretched" [toggleable]="true"
          ><app-calendar></app-calendar
        ></p-panel>
      </div>

      <div class="p-col-12">
        <p-panel header="Investimentos" class="box box-stretched"></p-panel>
      </div>
    </div>
  </div>
  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-12">
        <p-panel header="Carteiras" styleClass="dark-panel">
          <app-carousel-wallets></app-carousel-wallets>
        </p-panel>
      </div>
      <div class="p-col-12">
        <p-panel header="Transações" class="box box-stretched">
          <div class="p-grid">
            <div class="p-col-12">
              <app-transactions [transactions]="transactionsDashboard"></app-transactions>
            </div>
          </div>
        </p-panel>
        <p-dialog header="Nova Transação" [(visible)]="display" [style]="{ height: '90vh' }">
          <app-create-transaction></app-create-transaction>
        </p-dialog>
        <button
          type="button"
          pButton
          (click)="showDialog()"
          icon="pi pi-info-circle"
          label="Show"
        ></button>
      </div>
    </div>
  </div>

  <app-speed-dial-button></app-speed-dial-button>

  <!-- <div style="height: 350px; position: relative" class="speeddial-tooltip-demo">
    <p-speedDial
      [model]="leftTooltipItems"
      className="speeddial-right"
      direction="up"
    ></p-speedDial>
    <p-speedDial [model]="tooltipItems" className="speeddial-left" direction="up"></p-speedDial>
  </div> -->
</div>
