.card {
  button {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
}
.card-transaction {
  display: flex;
  flex-direction: row;

  background-image: linear-gradient(76.3deg, #2c3e4e 12.6%, #456783 82.8%);
  border-radius: 10px;

  margin-bottom: 20px;
  height: 10vh;
  width: 50vw;

  &:hover {
    background-image: linear-gradient(76.3deg, #1275cc 12.6%, #a5bfd5 82.8%);
  }

  &:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #25425c;
    transform: translateY(4px);
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 10px 0 0 10px;
  width: 20%;

  span {
    font-weight: 700;
    margin-top: 15px;
  }

  i {
    font-size: 2rem;
  }
}

.card-body {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.card-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  margin: 8px 20px;
  width: 100%;

  h2 {
    margin: 0;
  }
}

.card-price {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;

  margin: 8px 20px;

  h2 {
    margin: 0;
  }
}

.income {
  background-color: #33c759;
}

.outcome {
  background-color: #ff4b55;
}
